/************************************

  General style

  Created by Andy Zhou from ESL Suite

**************************************/

a{
	color: #4183D7;
}

a:hover{
	text-decoration: none;
}

*{
	font-family: "Roboto", sans-serif, arial!important;
	font-weight: 300;
}

.paddinglr20 {
  padding-left: 20%;
  padding-right: 20%;
}

.paddingtb {
  padding-top: 2%;
  padding-bottom: 2%;
}

.paddingtb10 {
  padding-top: 10%;
  padding-bottom: 10%;
}

.paddinglr {
  padding-left: 2%;
  padding-right: 2%;
}

.marginlr{
  margin-left: 2%;
  margin-right: 2%;
}

.margintb {
  margin-top: 2%;
  margin-bottom: 2%;
}

.shadow {
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.2);
}

.grayback {
  background-color: #EEEEEE;
}

.title {
  font-size: 4vh;
}

.subtitle {
  font-size: 3vh;
}

.contfont {
  font-size: 3vh;
}

.learnmore {
  display: inline-block;
  padding: 0.7vw 1.4vw;
  background-color: #f9690e;
  font-size: 1.5vw;
  text-decoration: none;
  color: white;
  border-radius: 2px;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
}

.learnmore:hover {
  text-decoration: none;
  color: white;
  background-color: #D35400;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
}

.bold {
  font-weight: bold;
}

.headtitle {
  font-size: 8vh;
}

.headscript {
  font-size: 4vh;
}

.inlineblock{
  display: inline-block;
  vertical-align: top;
}

.whitetext {
  color: white;
}

.scrollshow {
  opacity: 0;
}

.whiteback {
  background-color: white;
}

.paddinglr1 {
  padding-left: 1%;
  padding-right: 1%;
}

/*********************************************************/

#canvas{
	background-color: #eee;
	display: block;
	margin: auto;
}
.mobilenote{
  display: none;
}

/***********************************

  Mobile compatibility

***********************************/

@media screen and (max-width: 992px) {
  #canvas{
    display: none;
  }
  .mobilenote{
    display: block;
  }
}


/***********************************

  Tablet compatibility

***********************************/

@media screen and (max-width: 992px) and (min-width: 601px) {