//output: index.html

doctype html
head
    title AndyRightNow - Tech Enthusiast
    meta(
        name="viewport",
        content="width=device-width, initial-scale=1")
    link(href = "https://fonts.googleapis.com/css?family=Roboto:400,300,500")
    script(src="js/lib/require.js")
    script(name="config"). 
                            requirejs.config({
                                baseUrl: 'js/lib',
                                paths: {
                                    game: '../game/game.min',
                                    jquery: 'https://code.jquery.com/jquery-2.2.4.min',
                                    RandomBackgroundGenerator: 'RandomBackgroundGenerator.min'
                                }
                            });
    link(href = "css/main-style.min.css", rel="stylesheet")
body
     canvas#canvas(style="background-color: #e0e0e0;")
footer
    script(src="js/main.js")
