//output: index.html

doctype html
head
    title AndyRightNow - Tech Enthusiast
    meta(
        name="viewport",
        content="width=device-width, initial-scale=1")
    link(href = "css/css-resets.min.css", rel="stylesheet")
    link(href = "https://fonts.googleapis.com/css?family=Roboto:400,300,500")
    script(src="js/lib/require.js")
    script(name="config"). 
                            requirejs.config({
                                baseUrl: 'js/lib',
                                paths: {
                                    game: '../game/game.min',
                                    jquery: 'https://code.jquery.com/jquery-2.2.4.min',
                                    RandomBackgroundGenerator: 'RandomBackgroundGenerator.min'
                                }
                            });
    link(href = "css/main-style.min.css", rel="stylesheet")
    link(href = "css/scsc.min.css", rel="stylesheet")
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css", rel="stylesheet")
body
    canvas#canvas
    nav
        .side-nav-btn.text-center
            i.fa.fa-bars(aria-hidden="true")
        nav.side-nav.text-center.paddingtb2
            a.scroll-link(href="#index")
                .menu-item.border-bottom.paddingtb6 Index
            a.scroll-link(href="#about")
                .menu-item.border-bottom.paddingtb6 About Me
            a.scroll-link(href="#projects")
                .menu-item.border-bottom.paddingtb6 Projects
            a.scroll-link(href="#contact")
                .menu-item.paddingtb6 Contact
    section#index
        .inner-window.width50
            .inner-window-head
            .inner-window-content.padding2.text-center
                h3.paddingtb4.
                                I am Andy Zhou, a college student 
                                and a self-taught developer
                nav.text-center.paddingtb2
                    a.scroll-link(href="#about")
                        .menu-item.border-bottom About Me
                    a.scroll-link(href="#projects")
                        .menu-item.border-bottom Projects
                    a.scroll-link(href="#contact")
                        .menu-item Contact
    section#about
        .inner-window.width70.scsc-container
            .inner-window-head
            .inner-window-content.padding2.overflow-hidden.height70vh
                div.scsc-content.overflow-wrap
                    h2.paddingtb2.text-center About Me
                    div Test
    section#projects
        .inner-window.width70.scsc-container
            .inner-window-head
            .inner-window-content.padding2.overflow-hidden.height70vh
                div.scsc-content.overflow-wrap
                    h2.paddingtb2.text-center Projects
                    div Test
    section#contact
        .inner-window.width50
            .inner-window-head
            .inner-window-content.padding2.overflow-hidden
                h2.paddingtb2.text-center Contact
                div Test
footer
    script(src="js/main.js")
