---
import PageLayout from '../layouts/PageLayout.astro'
import PageMeta from '../components/PageMeta.astro'
import { SITE_TITLE } from '../config'
import BlogList from '../components/BlogList.astro'
---

<PageLayout>
  <PageMeta title={`Blog | ${SITE_TITLE}`} slot="meta" />
  <section slot="main">
    <BlogList />
  </section>
</PageLayout>
